<h2>Add a division to our database:</h2>

<form action="/divisions" method="post">
  <div class="form-group">
    <label class="form-label" for='title'>Division Title:</label>
    <input class="form-control" id='title' name='title' type='text'>
    </br>
    <button type="submit" class="button btn-success">Create Division!</button>
  </div>
</form>
