<h1>Welcome to the Divisions page</h1>

<% if @divisions.any?() %>
  <p>Click on a division to see information about it and add employees to it:</p>

  <ul>
    <% @divisions.each do |division| %>
    <li><a href="/divisions/<%= division.id() %>"><%= division.title() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no divisions added yet!</p>
<% end %>

<p><a href="/employees">See all employees</a></p>
<br>
<p><a href="/">Return to Home Page</a></p>
