<h1>Welcome to the Employees page</h1>

<% if @employees.any?() %>

  <ul>
    <% @employees.each do |employee| %>
    <li><a href="/employees/<%= employee.id() %>"><%= employee.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees added yet!</p>
<% end %>

<p><a href="/divisions">See all divisions</a></p>
<br>
<br>
<p><a href="/">Return to Home Page</a></p>
