<h1>Welcome to the Employee Tracker App</h1>

<div class="container">
  <a href="/divisions">Add New Division</a>
  <br>
  <a href="/employees">Add New Employee</a>
</div>

<p>Here are all your divisions:</p>

<ul>
  <% @divisions.each do |division| %>
    <li><%= division.title %></li>
  <% end %>
</ul>

<p>Here are all your employees:</p>

<ul>
  <% @employees.each do |employee| %>
    <li><%= employee.name %></li>
  <% end %>
</ul>
